#anim span {
	position: relative;
	transition: all 0.3s ease;
	display: inline-block;
	animation: dance 2.4s ease infinite;
	transform-origin: 100% 50%;
	transform-style: preserve-3d;
}
#anim span:nth-child(1) {
	animation-delay: 0s;
}
#anim span:nth-child(2) {
	animation-delay: 0.05s;
}
#anim span:nth-child(3) {
	animation-delay: 0.1s;
}
#anim span:nth-child(4) {
	animation-delay: 0.15s;
}
#anim span:nth-child(5) {
	animation-delay: 0.2s;
}
#anim span:nth-child(6) {
	animation-delay: 0.25s;
}
#anim span:nth-child(7) {
	animation-delay: 0.3s;
}
#anim span:nth-child(8) {
	animation-delay: 0.35s;
}
#anim span:nth-child(9) {
	animation-delay: 0.4s;
}
#anim span:nth-child(10) {
	animation-delay: 0.45s;
}
#anim span:nth-child(11) {
	animation-delay: 0.5s;
}
#anim span:nth-child(12) {
	animation-delay: 0.55s;
}
#anim span:nth-child(13) {
	animation-delay: 0.6s;
}
#anim span:nth-child(14) {
	animation-delay: 0.65s;
}
#anim span:nth-child(15) {
	animation-delay: 0.7s;
}
#anim span:nth-child(16) {
	animation-delay: 0.75s;
}
#anim span:nth-child(17) {
	animation-delay: 0.8s;
}
#anim span:nth-child(18) {
	animation-delay: 0.85s;
}
#anim span:nth-child(19) {
	animation-delay: 0.9s;
}
#anim span:nth-child(20) {
	animation-delay: 0.95s;
}
#anim span:nth-child(21) {
	animation-delay: 1s;
}


@-webkit-keyframes dance {
  0% {
    transform: translate3D(0, 0, 0) scale(1) rotateY(0);
    text-shadow: 0 0 0 rgba(70, 175, 200, 0);
  }
  12% {
    transform: translate3D(2px, -2px, 2px) scale(1.16) rotateY(6deg);
	color: #fff;
  }
  15% {
    text-shadow: 0 0 2px #fff;
  }
  24% {
    transform: translate3D(0, 0, 0) scale(1) rotateY(0);
  }
  36% {
    transform: translate3D(0, 0, 0) scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes dance {
  0% {
    transform: translate3D(0, 0, 0) scale(1) rotateY(0);
    text-shadow: 0 0 0 rgba(70, 175, 200, 0);
  }
  12% {
    transform: translate3D(2px, -2px, 2px) scale(1.16) rotateY(6deg);
	color: #fff;
  }
  15% {
    text-shadow: 0 0 2px #fff;
  }
  24% {
    transform: translate3D(0, 0, 0) scale(1) rotateY(0);
  }
  36% {
    transform: translate3D(0, 0, 0) scale(1);
  }
  100% {
    transform: scale(1);
  }
}
